.cart {
  color: #595959;
  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  // .cart__title

  &__title {
    span {
      color: #252525;
      font-weight: 400;
    }
  }
  &__clear {
    font-style: italic;
    padding: 5px 10px;
    text-decoration: underline;
    background: transparent;
    &:hover {
      color: #5ebc5e;
    }
  }

  // .cart__items

  &__items {
  }

  // .cart__item

  &__item {
    display: flex;
    position: relative;

    padding: 20px 0;

    &::before {
      position: absolute;
      content: '';
      top: 0;
      left: 0;
      width: 100%;
      height: 1px;
      background-color: #cecece;
    }
  }
}
.item-cart {
  // .item-cart__image

  &__image {
    flex: 0 0 100px;
    height: 150px;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  // .item-cart__description

  &__description {
    padding: 18px 20px;
    flex: 0 0 430px;
  }

  // .item-cart__title

  &__title {
    font-size: 25px;
    font-weight: 300;

    margin-bottom: 10px;
    font-weight: 300;
  }

  // .item-cart__author

  &__author {
    font-style: italic;
    font-weight: 300;
    font-size: 14px;
  }

  // .item-cart__price

  &__price {
    margin: 18px 20px;
    min-width: 110px;
  }

  // .item-cart__price-for-one

  &__price-for-one {
    font-weight: 500;

    font-size: 26px;
    //color: #252525;
    margin-bottom: 5px;
  }

  // .item-cart__price-total

  &__price-total {
    font-size: 16px;
    font-style: italic;
  }

  // .item-cart__buttons

  &__buttons {
    margin: 18px 20px;
    min-width: 125px;
  }
}

.counter-cart {
  margin: 18px 20px;
  span {
    font-family: 'Helvetica';
    font-size: 20px;
    padding: 0 20px;
  }
  //.counter-cart__container
  &__container {
    border: 1px solid #8cb165;
    padding: 5px;
    display: flex;
    align-items: center;
    border-radius: 5px;
  }
  // .counter-cart__button

  &__button {
    width: 25px;
    height: 25px;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 4px;
  }
}

.buttons-cart {
  //flex: 0 0 130px // .buttons-cart__container
  &__container {
    display: flex;
    flex-direction: column;
    row-gap: 15px;
  }

  // .buttons-cart__add-wish

  &__add-wish {
    font-family: 'Helvetica';
    display: flex;
    align-items: center;
    padding: 4px 9px 4px 10px;
    border-radius: 5px;
    svg {
      margin-right: 10px;
      width: 20px;
      height: 20px;
      fill: #fff;
    }
  }

  // .buttons-cart__remove

  &__remove {
    font-family: 'Helvetica';
    display: flex;
    align-items: center;
    padding: 4px 11px;
    color: #fff;
    box-shadow: inset 0.5px 0.9px 0 0 rgb(118 118 118 / 75%);
    border: solid 1px #232323;
    background: linear-gradient(to top, #242424, #424242);
    border-radius: 3px;
    svg {
      margin-right: 10px;
      width: 20px;
      height: 20px;
      fill: #fff;
    }
    &:hover {
      background: linear-gradient(to top, #424242, #5e5e5e);
    }
    &:active {
      box-shadow: inset 1px 1px 7px #213621;
    }
  }
}

.total {
  margin: 20px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 50px;
  font-weight: 700;

  font-size: 26px;
  //color: #252525;
  span {
    color: #6e6969;
  }
  // .total__tota-count

  &__tota-count {
  }

  // .total__tota-price

  &__tota-price {
  }

  // .total__send

  &__send {
    padding: 15px 20px;
    font-size: 18px;
  }
}
