.header {
  position: fixed;
  width: 100%;
  z-index: 10;

  // .header__top

  &__top {
  }

  // .header__body

  &__body {
  }

  // .header__nav

  &__nav {
  }
}
.top-header {
  background: #424242;
  // .top-header__list

  &__list {
    display: flex;
    justify-content: flex-end;
    column-gap: 25px;
  }

  // .top-header__link

  &__link {
    display: block;
    color: #fff;
    font-size: 16px;
    padding: 6px 0px 5px 2px;
    @media (max-width: 860px) {
      font-size: 13px;
    }
    &:hover {
      text-decoration: underline;
    }
    &:active {
      scale: 0.95;
    }
  }
}
.body-header {
  padding: 20px 0;
  background: linear-gradient(to bottom, #fff, #ebebeb);
  @media (max-width: 860px) {
    padding: 10px 0;
  }
  // .body-header__container
  &__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  // .body-header__ligo

  &__logo {
    flex: 0 0 136px;
    height: 74px;

    @media (max-width: 860px) {
      flex: 0 0 75px;
      height: 40px;
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  // .body-header__search

  &__search {
  }

  // .body-header__cart

  &__cart {
  }

  // .body-header__wish

  &__wish {
  }
}
.search {
  flex: 1 1 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 5px;
  // @media (max-width: 860px) {
  //   display: none;
  // }
  // .search__form

  &__form {
    border: 3px solid #79b260;
    border-radius: 4px;
    display: flex;
    flex: 0 1 458px;
    height: 40px;
  }
  // .search__input
  &__input {
    border-radius: 4px;
    outline: 3px solid #79b260;
    font-size: 18px;
    padding: 1px 10px;
    height: 100%;
    width: 100%;
  }

  // .search__button

  &__button {
    background: #79b260;
    font-size: 23px;
    color: #fff;
    padding: 0px 16px 0px 43px;
    width: 126px;
    height: 34px;
    position: relative;
    .search-icon {
      width: 25px;
      height: 25px;
      position: absolute;
      top: 5px;
      left: 12px;
      fill: #fff;
    }
    &:hover {
      text-decoration: underline;
      .search-icon {
        scale: 1.05;
      }
    }
  }
}

.cart-header {
  display: flex;
  flex-direction: column;
  padding: 0px 5px 0px 0px;
  position: relative;
  color: #6d6d6d;
  row-gap: 12px;
  @media (max-width: 860px) {
    flex: 1 1 auto;
    align-items: end;
  }
  &::after {
    position: absolute;
    content: '';
    top: 0;
    right: 0;
    width: 1px;
    height: 100%;
    background: #d0d0d0;
  }
  // .cart-header__top

  &__top {
    display: flex;
    column-gap: 5px;
    align-items: center;
    position: relative;
    @media (max-width: 860px) {
      padding-right: 22px;
    }
  }
  &__cart-count {
    display: none;
    @media (max-width: 860px) {
      display: flex;
      top: -6px;
      right: 11px;
    }
  }

  // .cart-header__info

  &__info {
    font-size: 23px;
    @media (max-width: 860px) {
      display: none;
    }
    span {
      font-size: 13px;
    }
  }

  // .cart-header__bottom

  &__bottom {
    display: flex;
    padding: 0 3px;
    column-gap: 15px;
    @media (max-width: 860px) {
      display: none;
    }
  }

  // .cart-header__price

  &__price {
    font-size: 27px;
    font-weight: 700;
  }

  // .cart-header__button

  &__button {
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(to bottom, #424242, #242424);
    color: #fff;
    font-size: 15px;
    box-shadow: inset 0.5px 0.9px 0 0 rgba(118, 118, 118, 0.75);
    border: solid 1px #232323;
    border-radius: 3px;
    padding: 0px 8px;
  }
}

.cart-icon {
  width: 30px;
  height: 30px;
  fill: #79b260;
  transform: rotateY(180deg);
  @media (max-width: 860px) {
    transform: rotate(0);
    fill: #424242;
    width: 35px;
    height: 35px;
  }
}
.wish {
  position: relative;
  padding: 0 18px 0 22px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  p {
    font-size: 21px;
    color: #6d6d6d;
    @media (max-width: 860px) {
      display: none;
    }
  }
  &:hover {
    p {
      text-decoration: underline;
    }
  }

  // .wish__item

  &__item {
    display: flex;
    bottom: 19px;
    right: 4px;
    @media (max-width: 860px) {
      top: -6px;
      right: 4px;
    }
  }
}
.wish-icon {
  width: 33px;
  height: 33px;
  fill: #424242;
  @media (max-width: 860px) {
    width: 35px;
    height: 35px;
  }
}

.header-items-count {
  align-items: center;
  justify-content: center;
  position: absolute;
  width: 28px;
  height: 16px;
  border-radius: 20px;
  background-color: #79b260;
  color: #fff;
  font-size: 13px;
}
.nav-header {
  background: #fff;
  position: relative;
  &::before,
  &::after {
    position: absolute;
    content: '';
    left: 0;
    width: 100%;
    height: 1px;
    background: #cecece;
  }
  &::before {
    bottom: 0;
  }
  &::after {
    top: 0;
  }
  @media (max-width: 860px) {
    display: none;
  }
  // .nav-header__list

  &__list {
    display: flex;
    flex-wrap: wrap;
    gap: 5px 0px;
  }

  // .nav-header__link

  &__link {
    display: flex;
    font-size: 19px;
    color: #5b5b5b;
    padding: 10px 18px;
    &:hover {
      background: linear-gradient(to top, #6b9e55, #85c46a);
      color: #fff;
    }
    &:active {
      box-shadow: inset 1px 1px 7px #213621;
    }
  }
}
